.inner {
  max-width: 100%;
  width: 1180px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100px;
  top: 0;
  text-align: center;
  letter-spacing: 0;
  overflow: hidden;
  background-color: #FFFDF6;
}

.header-list {
  display: flex;
  letter-spacing: 0;
  align-items: center;
  justify-content: space-between;
  padding-left: 75px;
  flex-wrap: unset;
  white-space: nowrap;
  color: #000;
}

.header-list img {
  vertical-align: center;
  height: 90px;
  width: 80px;
}

.header-list a {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  list-style: none;
}

.header-list:last-child {
  margin: 0;
}

.top-wrapper1 {
  padding: 50px 0;
}

.top-wrapper1 h1 {
  text-align: center;
  letter-spacing: 0;
  color: #000;
  margin-bottom: 100px;
}

.about {
  display: flex;
  justify-content: space-between;
  background-color: #FFFDF6;
}

.about img {
  margin: 200px 0 100px 150px;
}

.about p {
  margin-top: 200px;
  font-size: 20px;
}

.lesson-wrapper {
  padding: 50px 0;
}

.lesson-wrapper h1 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.lesson-wrapper p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.main2 {
  display: flex;
  width: 400px;
  margin: 0 auto;
}

.p1 {
  width: 100px;
  text-align: center;
}

.p2 {
  width: 200px;
  text-align: center;
}

.top-wrapper2 {
  background-color: #FFFDF6;
  text-align: center;
  padding: 50px 0;
}

.p3 {
  text-align: center;
}

.main3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
}

.box1 {
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
  width: 330px;
  padding-top: 10px;
  margin-bottom: 50px;
  border: 1px solid #000;
}

.box1 img {
  width: 310px;
}

.p5 {
  position: absolute;
  color: #295525;
  background-color: #FFF200;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 100px;
  margin-left: 200px;
  padding: 0 20px;
}

.p6 {
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
}

.top-wrapper3 {
  text-align: center;
  padding: 50px 0;
}

.p4 {
  text-align: center;
}

.main4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 950px;
  margin: 0 auto;
}

.box2 {
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
  width: 220px;
  height: 250px;
  padding-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #000;
}

.box2 img {
  width: 100px;
  height: 100px;
  padding: 10px 50px;
  border: 1px solid #000;
}

.box2 p {
  font-size: 20px;
  text-align: center;
}

.lesson-wrapper2 {
  background-color: #FFFDF6;
  text-align: center;
  padding: 50px 0;
}

.lesson-wrapper2 p {
  font-size: 20px;
}

.main5 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 900px;
  margin: 0 auto;
}

.box3 {
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
  width: 270px;
  padding-top: 10px;
  margin-bottom: 50px;
  border: 1px solid #000;
}

.box3 img {
  width: 250px;
  height: 175px;
}

.top-wrapper4 {
  text-align: center;
  padding: 50px 0;
}

.main6 {
  text-align: center;
  width: 365px;
  margin: 0 auto;
}

.box4 {
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
  width: 270px;
}

.box4 p {
  text-align: left;
}

input{
  width: 365px;
  height: 30px;
}

textarea {
  width: 365px;
  height: 90px;
}

.btn {
  text-decoration: none;
  color: #000;
  width: 150px;
  display: block;
  padding: 5px;
  border: 1px solid #000;
  box-sizing: border-box;
  text-align: center;
  margin: 50px 0;
  transition: .3s;
}

.signup1 {
  margin-left: 900px;
}

.signup2 {
  margin: 100px auto;
}

.footer {
  width: 100%;
  text-align: center;
  letter-spacing: 0;
  overflow: hidden;
}

.footer img {
  width: 100%;
}

.footer-logo img {
  height: 90px;
  width: 80px;
  margin: 50px 0;
}

.footer-list {
  display: flex;
  margin: 50px 0 50px 300px;
}

.footer-list li {
  list-style: none;
  flex-grow: 0.1;
}

.footer-list li+li {
  border-left: 1px solid #000;
}